<div class="landing">
    <div class="wrapper">
        <div class="container-xl">
            {% include "../nav-primary/nav-primary.twig" %}
        </div>
        <div class="landing__hero left-indent size-6 mobile-wide-layout">
            <h1 class="landing__title">
                Physical Addons<br>
                <em>for Blender</em>
            </h1>
            {# {% include "../badge/badge.twig" %} #}
        </div>
        <div class="landing__trustedby left-indent size-6 mobile-wide-layout">
            {% include "../trusted-by/trusted-by.twig" %}
        </div>
    </div>
    {# {% include "../presets/presets.twig" %} #}
</div>