<nav class="nav-primary nav-primary--closed" aria-label="Secondary">
    <a class="nav-primary__logo" href="https://www.physicaladdons.com/psa/" aria-label="Physical Addons">
        <svg stroke-miterlimit="10" style="fill:#FFF;fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round" viewBox="0 0 840 840" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:vectornator="http://vectornator.io"><g vectornator:layerName="Layer 1"><path d="m540 780 240-120V450L540 570v210ZM300 60 60 180v600l240-120V540h240l240-120V60H300Zm0 180h240v120H300V240Z"/></g></svg>
    </a>
    <button
            class="nav-primary__toggle"
            aria-controls="primary-nav-links"
            aria-expanded="false"
            aria-label="Toggle primary navigation">
        <svg class="ham" viewBox="0 0 100 100" width="64">
            <path class="ham__line ham__line--top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20"></path>
            <path class="ham__line ham__line--middle" d="m 70,50 h -40"></path>
            <path class="ham__line ham__line--bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20"></path>
        </svg>
    </button>
    <div class="nav-primary__collapse" id="primary-nav-links">
        <div class="nav-primary__main">
            <a href="https://www.physicaladdons.com/pco/" class="nav-primary__link">Planets</a>
            <a href="https://www.physicaladdons.com/psa/" class="nav-primary__link">Atmosphere</a>
        </div>
        <div class="nav-primary__secondary">
            <a href="https://www.physicaladdons.com/psa/contacts/" class="nav-primary__link">Contacts</a>
        </div>
    </div>
</nav>