<div class="trusted-by">
    <label for="trusted-by" class="trusted-by__label">Trusted by the creatives at:</label>
    <ul id="trusted-by" class="truted-by__companies">
        <li class="trusted-by__company"><img src="/assets/images/trusted-by/1.png" alt=""></li>
        <li class="trusted-by__company"><img src="/assets/images/trusted-by/2.svg" alt=""></li>
        <li class="trusted-by__company"><img src="/assets/images/trusted-by/3.svg" alt=""></li>
        <li class="trusted-by__company"><img src="/assets/images/trusted-by/4.svg" alt=""></li>
        <li class="trusted-by__company"><img src="/assets/images/trusted-by/5.png" alt=""></li>
        <li class="trusted-by__company"><img src="/assets/images/trusted-by/6.svg" alt=""></li>
    </ul>
</div>