<div class="product {{class}}">
    <div class="product__wrapper">
        <figure class="product__logo">
            {% block logo %}{% endblock %}
        </figure>
        <div class="product__content left-indent size-6">
            <section class="product__main">
                <div class="product__info">
                    <div>
                        <h2 class="product__name">{{name}}</h2>
                        <p class="product__description">{{description}}</p>
                    </div>
                    <ul class="product__features">
                    {% for feature in features %}
                        <li class="product__feature">{{ feature }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <footer class="product__footer">
                    {% block footer %} {% endblock %}
                </footer>
            </section>
        </div>
    </div>
</div>
